<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="logo">
            <h1>คอร์ดเพลง</h1>
        </div>
        <ul class="menu">
            <li><a href="#">หน้าแรก</a></li>
            <li><a href="#">เกี่ยวกับ</a></li>
            <li><a href="#">ติดต่อเรา</a></li>
        </ul>
    </nav>

    <header>
        <div class="container">
            <section class="header-info">
                <h1>Serving you sinc 1989.</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, ut maxime eos possimus illum tenetur iste animi praesentium facilis amet adipisci
                </p>

                <a href="" class="header-btn">Lern more</a>
            </section>
        </div>
    </header>

    <main>
        <h1>Support Me</h1>
        <hr />
        <div class="container">
            <section class="picture">
                <figure>
                    <img src="https://cdn.pixabay.com/photo/2018/01/23/10/38/book-3101151_960_720.jpg" alt="" />
                    <figcaption>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, ex sed ad iusto, nam ipsa pariatur dolores consectetur nesciunt aspernatur consequatur explicabo tempora corrupti nihil voluptate? Recusandae eos commodi vero.
                    </figcaption>
                </figure>

                <figure>
                    <img src="https://cdn.pixabay.com/photo/2021/07/23/11/00/ground-coffee-6487114_960_720.jpg" alt="" />
                    <figcaption>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates libero ipsam laudantium voluptate magnam necessitatibus maiores dolor magni voluptatum, eaque voluptas repellat repudiandae sed ea ex veritatis ad quaerat? Maxime!
                    </figcaption>
                </figure>

                <figure>
                    <img src="https://cdn.pixabay.com/photo/2021/04/28/22/51/street-6215126_960_720.jpg" alt="" />
                    <figcaption>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat facilis fugiat dolore earum in magnam eveniet dolorum quam cum, ipsa itaque porro alias illo quia provident asperiores architecto accusamus totam.
                    </figcaption>
                </figure>
            </section>
        </div>
    </main>

    <footer>
        <p>&copy; Copyright 2021 All right Reserved.</p>
    </footer>
</body>

</html>