<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <header>
        <mat-toolbar>
            <button mat-icon-button class="example-icon" aria-label="Example
          icon-button with menu icon" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
            <a routerLink="/home">คอร์ดเพลง</a>
            <span class="mat-spacer"></span>

            <form class="">
                <mat-form-field class="mat-full-width" appearance="fill">
                    <mat-label>ค้นหาเพลง</mat-label>
                    <input matInput #message maxlength="256" placeholder="พิมพ์ชื่อเพลงที่ต้องการค้นหา" />
                </mat-form-field>
            </form>

            <button mat-icon-button class="example-icon" aria-label="Example
          icon-button with share icon">
          <mat-icon>search</mat-icon>
        </button>
        </mat-toolbar>
    </header>

    <body>
        <mat-drawer-container class="mat-drawer-container mat-elevation-z8" autosize>
            <img src="https://cdn.pixabay.com/photo/2016/11/22/23/45/acoustic-1851248_960_720.jpg" alt="" />
            <mat-drawer #drawer class="" mode="side">
                <li class="list-menu">
                    <!-- <mat-list> -->
                    <!-- <mat-selection-list>
                            <mat-list-option class="list-item text-list-song">
                                <div class="text-list-song">
                                    <mat-icon>stars</mat-icon>
                                    หน้าแรก
                                </div>
                            </mat-list-option>
                        </mat-selection-list> -->

                    <a (click)="drawer.close()" routerLink="/home"> คอร์ดทั้งหมด </a>
                    <!-- <a class="button-item" (click)="drawer.close()" routerLink="/song">
              song
            </a> -->

                    <!-- <a (click)="drawer.close()" routerLink="/profile"> โปรไฟล์ </a> -->

                    <a (click)="drawer.close()" routerLink="/homeuser">
              คอร์ดจากผู้ใช้
            </a>
                    <!-- <a (click)="drawer.close()" routerLink="/about"> ติดต่อเรา </a> -->
                    <!-- </mat-list> -->
                </li>
            </mat-drawer>

            <div class="mat-sidenav-content mat-elevation-z8">
                <router-outlet (activate)="onActivate($event)"></router-outlet>
            </div>
        </mat-drawer-container>
    </body>
</body>

</html>